body {
    background-image: url("../images/bananas.png");
    margin:10px;
}

h1 {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Akronim', cursive;
    border-style: solid;
    border-width: 5px;
    padding: 20px;

}

#sage {
    height: 250px;
    width: 250px;
    padding: 20px;
    float: center;
    border-style: solid;
    border-width: 5px;
}

.container {
    
}

